h1 {
    text-align: center;
  }
  
  .table-hover :hover {
    background-color: rgb(224, 103, 248);
  }
  input {
    padding: 20px;
    margin: 10px;
  }
  
  .div,
h1,
#teamInp {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 1em 1em;
  width: 70%;
  font-size: 26px;
}

#playerSearchbar {
  padding: 10px;
  margin: 10px;
}