<!-- <h2>Your Team !</h2>
<br />

<div class="center">

  <div *ngFor="let t of Team.players">
    <h5>Name: {{ t.PLAYER_NAME }}</h5>
  </div>

</div> -->

<br /><br />
<div *ngIf="Team">
  <h1>
    <strong>{{ Team.teamName }}</strong>
  </h1>
</div>
<div class="container">
  <div>
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">PER</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr *ngFor="let el of Team.players">
          <td>
            {{ el.RK }}
          </td>
          <td>
            {{ el.PLAYER_NAME }}
          </td>
          <td>
            {{ el.PER }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br /><br />
  <div class="container">
    <h6>
      <i>
        Depending on the internet speed, It may take 5 seconds to 1 min to get
        Win Percentage</i
      >
    </h6>
  </div>
  <br />
  <div class="container">
    <button class="btn btn-danger" [routerLink]="['/teams']">Go Back</button>
    <button (click)="editTeam(Team._id)" class="btn btn-primary btn-round">
      Edit
    </button>
    <button class="btn btn-dark" (click)="generateWinPercentage(Team._id)">
      Generate Win Percentage
    </button>
  </div>
  <div class="win" *ngIf="this.WinPercentage">
    <h1 class="winText">{{ this.WinPercentage }} %</h1>
  </div>
</div>
