<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    
    <a class="nav-colour" *ngIf="auth.user$ | async as user" [routerLink]="['/']"
      > <span style="color: white">Welcome</span> {{user.name}}</a
    >
    <a class="nav-colour" *ngIf="auth.user$ | async as user" [routerLink]="['/']"
      >{{user.email}}</a
    >
    <hr>
    <a class="nav-link" [routerLink]="['/']" (click)="closeNav()"
      >All Players</a
    >
    <a class="nav-link" [routerLink]="['/teams']" (click)="closeNav()"
      >My Teams</a
    >
    <a class="nav-link" (click)="loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false">
      Log in
    </a>

    <a class="nav-link" (click)="logout()" *ngIf="(auth.isAuthenticated$ | async) === true">
      Log Out
    </a>
  </div>
</div>

<span class="navv" (click)="openNav()">&#9776;</span>
