<div class="div">
  <h1>Create Team</h1>
  <input
    class="form-control"
    type="text"
    id="teamInp"
    #teamName
    placeholder="Team Name"
  />
  <button class="btn btn-warning" id="enterTeamBtn" (click)="goBack()">
    Go to myTeams
  </button>
  <button class="btn btn-danger" id="enterTeamBtn" (click)="postNewTeam()">
    Enter
  </button>

  <div
    *ngIf="this.statusString"
    class="alert alert-primary alert-dismissible fade show"
    role="alert"
  >
    <strong>Heads Up!</strong> {{ this.statusString }}
  </div>
</div>
