h1 {
  text-align: center;
  margin: 1em;
}

div,
a {
  margin: 4px;
  display: inline-block;
}
.empty {
  text-align: center;
  font-size: 1.5em;
}
.create-button {
  margin: 10px;
}

@media (max-width: 768px) {
  div,
  a {
    margin: 8px;
    text-align: center;
    display: inline-block;
  }
}
